body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(32, 32, 32);
    color: rgb(128, 128, 128)
}

.pane-mini {
    width: 20%;
    background-color: rgb(32, 32, 32);
    color: rgb(128, 128, 128);
    padding: 5px
}

.pane {
    width: auto;
    background-color: rgb(32, 32, 32);
    color: rgb(128, 128, 128);
    padding: 5px
}


/* Moving on to the styling, we'll start with the main progress bar first and then the value part of it. After that, we'll do some experiments :D */
body {
	background: #322c35;
}

.btn {
    width: 90%;
    height: 40px;
    display: block;
    margin: 5px auto;
    border-color: #aaa; 
    background-image: linear-gradient(to bottom, green, darkgreen 100%);
    text-align: left
}

.monotext {
    font-family: monospace;
    color: lightgray
}


.progress-text {
    margin: 0;
    overflow-x: hidden
}

progress {
	width: 80%;
	height: 14px;
	margin: 0 auto;
	-webkit-appearance: none;
	border: none;
}

progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, darkgreen, #0e0);
	background-size: 25px 14px, 100% 100%, 100% 100%;
    -webkit-animation: move 5s linear 0 infinite;
    animation: inherit
}

#mainPane {
    height: 100%;
    width: auto
}

#progContainer {
    width: 100%;
}

#showhashContainer {
    float: none;
    width: 100%;
    margin: 0 10px;
    padding: 0 10px;
    overflow-x: hidden
}

#showPctContainer {
    float: right;
    width: 18%;
    padding-top: 2px
}

#progCont1 {
    float: left;
    width: 80%;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 3px
}

#shellContainer {
    height: 100px;
    background: black;
    color: greenyellow;
    margin: 0 10px;
    padding: 0 10px;
}


#messagesContainer {
    position: absolute;
    bottom: 0
}